{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Wine</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with wine=item.wine %}
        <tr>
            <td>
                <a href="{{ wine.get_absolute_url }}">
                    <img class="bottle_img_detail" src="{% if wine.image %}{{ wine.image.url }}
                {% else %}{% static " img/no_image.png" %}{% endif %}">
                </a>
            </td>
            <td>{{ wine.wine_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
                <form action="{% url 'cart:cart_remove' wine.id %}" method="post">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">£{{ item.price }}</td>
            <td class="num">£{{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">£{{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url " shop:wine_list" %}" class="button
    light">Continue shopping</a>
    <a href="{% url " orders:order_create" %}" class="button">
        Checkout
    </a>
</p>
{% endblock %}